{
  "importOrder": ["^[react*]", "<THIRD_PARTY_MODULES>", "^[./]", "^[../]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "printWidth": 100
}
