// README
// This is only a .env example
// Do not change this file!
// Use cp or mv (like this: cp env.example .env), then edit .env with your Keys.
// IMPORTANT: Don't forget to add to update your .gitignore with .env (to avoid public share your key!)

DATABASE_URL=
NEXTAUTH_SECRET=type-anything-or-generate-a-guid-online-and-use-that
NEXTAUTH_URL=http://localhost:3020/

NEXT_PUBLIC_PUSHER_APP_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=
PUSHER_APP_ID=
PUSHER_SECRET=

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_PRESET_NAME=

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=